==
<footer class="footer footer-big footer-color-black" data-color="black">
  <div class="container">
    <div class="row">
      <div class="col-md-2 col-sm-3 col-xs-6">
        <div class="info">
          <h5 class="title">Valle del Laurel</h5>
          <nav>
            <ul>
              <li>
                <a href="#">Inicio</a>
              </li>
              <li>
                <a href="/toros">Toros</a>
              </li>
              <li>
                <a href="#">Hembras</a>
              </li>
              <li>
                <a href="#">Preoferta</a>
              </li>
              <li>
                <a href="#">Venta</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="col-md-3 col-md-offset-1 col-sm-3 col-xs-6">
        <div class="info">
          <h5 class="title">Cartelera de remates</h5>
          <nav>
            <ul>
              <li>
                <a href="#">Remate 1</a>
              </li>
              <li>
                <a href="#">Remates Nro.</a>
              </li>
              <li>
                <a href="#">Remates Nro.</a>
              </li>
              <li>
                <a href="#">Remates Nro.</a>
              </li>
              <li>
                <a href="#">Remates Nro.</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6">
        <div class="info">
          <h5 class="title">Novedades</h5>
          <nav>
            <ul>
              <li>
                <a href="#">
                  <i class="fab fa-twitter"></i> <b>Nosotros</b> Hacemos muchas cosas
                  <hr class="hr-small" />
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fab fa-twitter"></i> Y lo que hacemos <b> Lo hacemos muy bien</b>! Gracias por confiar en
                  nosotros
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="col-md-2 col-md-offset-1 col-sm-3 col-xs-6">
        <div class="info">
          <h5 class="title">Siganos</h5>
          <nav>
            <ul>
              <li>
                <a href="#" class="btn btn-social btn-facebook btn-simple">
                  <i class="fab fa-facebook-f"></i></a>
              </li>
              <li>
                <a href="#" class="btn btn-social btn-instagram btn-simple">
                  <i class="fab fa-instagram"></i></a>
              </li>
              <li>
                <a href="#" class="btn btn-social btn-twitter btn-simple">
                  <i class="fab fa-twitter"></i></a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <hr />
    <div class="copyright">
      ©
      <script>
        document.write(new Date().getFullYear());
      </script>
      Desarrollos web, todos los derechos reservados
    </div>
  </div>
</footer>