title = "ListadoToros"
url = "/listado"
layout = "default"
description = "Listado de toros"
is_hidden = 0

[builderList]
modelClass = "spmda\Animales\Models\Toro"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "nombre"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsKeyColumn = "slug"
detailsUrlParameter = "slug"
pageNumber = "{{ :page }}"
==
{% set records = builderList.records %}
{% set displayColumn = builderList.displayColumn %}
{% set noRecordsMessage =builderList.noRecordsMessage %}
{% set detailsPage = builderList.detailsPage %}
{% set detailsKeyColumn =builderList.detailsKeyColumn %}
{% set detailsUrlParameter = builderList.detailsUrlParameter %}


<div class="container-fluid" style="padding-top:100px; background-color: rgb(71, 189, 71)">
    <h1> Listado de Toros </h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">H.B.U.</th>
                <th scope="col">RP</th>
                <th scope="col">Carav</th>
                <th scope="col">AbueloM</th>
                <th scope="col">Hijos</th>
                <th scope="col">PAVG</th>
                <th scope="col">G-EPD</th>
                <th scope="col">FPdir</th>
                <th scope="col">Nacido</th>
                <th scope="col">Dest</th>
                <th scope="col">PA_V</th>
                <th scope="col">FPmat</th>
                <th scope="col">Leche</th>
                <th scope="col">AOBc</th>
                <th scope="col">GRASAc</th>
                <th scope="col">CE</th>
                <th scope="col">EfC</th>
                <th scope="col">FPmat</th>
                <th scope="col">ICria</th>
                <th scope="col">ICompleto</th>


            </tr>
        </thead>
        <tbody>
            {% for record in records %}

            <tr>
                <td>{{ record.nombre }}</td>
                <td>{{ record.hbu }}</td>
                <td>{{ record.rp }}</td>
                <td>{{ record.caravana }}</td>
                <td>{{ record.abuelom }}</td>
                <td>{{ record.hijos}}</td>
                <td>{{ record.pavg }}</td>
                <td>{{ record.g-epd }}</td>
                <td>{{ record.fdir }}</td>
                <td>{{ record.nacido }}</td>
                <td>{{ record.destete }}</td>
                <td>{{ record.pa_v }}</td>
                <td>{{ record.fpmat }}</td>
                <td>{{ record.leche }}</td>
                <td>{{ record.aobc }}</td>
                <td>{{ record.grasac }}</td>
                <td>{{ record.ce }}</td>
                <td>{{ record.efc }}</td>
                <td>{{ record.indicecria }}</td>
                <td>{{ record.indicecompleto }}</td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
    {% if records.lastPage > 1 %}
    <ul class="pagination">
        {% if records.currentPage > 1 %}
        <li><a href="{{ this.page.baseFileName|page({ (pageParam): (records.currentPage-1) }) }}">&larr; Prev</a></li>
        {% endif %} {% for page in 1..records.lastPage %}
        <li class="{{ records.currentPage == page ? 'active' : null }}">
            <a href="{{ this.page.baseFileName|page({ (pageParam): page }) }}">{{ page }}</a>
        </li>
        {% endfor %} {% if records.lastPage > records.currentPage %}
        <li><a href="{{ this.page.baseFileName|page({ (pageParam): (records.currentPage+1) }) }}">Next &rarr;</a></li>
        {% endif %}
    </ul>
    {% endif %}
</div>