title = "toro"
url = "/toros/toro/:slug"
layout = "default"
is_hidden = 0

[builderDetails]
modelClass = "Spmda\Animales\Models\Toro"
identifierValue = "{{ :slug }}"
modelKeyColumn = "slug"
displayColumn = "nombre"
notFoundMessage = "No hemos encontrado el toro"
==
{% set record = builderDetails.record %}
{% set displayColumn = builderDetails.displayColumn %}
{% set notFoundMessage = builderDetails.notFoundMessage %}

{% if record %}
<h3>{{ record.nombre }}</h3>
<h3>{{ record.hbu }}</h3>
<ul class="gallery clearfix">
    {% for image in record.vistas %}

    <li>
        <a href="{{ image.path }}">
            <img src="{{ image.thumb(300,250) }}" alt="">
        </a>
    </li>


    {% endfor %}

</ul>
{% else %}
{{ notFoundMessage }}
{% endif %}