==
<div class="section">
    <div class="container">
        <div class="row">
            <div class="title-area">
                <h2>Nuestras Actividades</h2>
                <div class="separator separator-danger">✻</div>
                <p class="description">Nuestro establecimiento se preocupa por conservar y desarrollar nueva genetica en
                    toros reproductores de la raza Polled Hereford</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="info-icon">
                    <div class="icon text-danger">
                        <i class="fas fa-certificate"></i>
                    </div>
                    <h3>Cria</h3>
                    <p class="description">Buscamos desrrollar las mejores caracteristicas para la raza bobina</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info-icon">
                    <div class="icon text-danger">
                        <i class="fas fa-venus-mars"></i>
                    </div>
                    <h3>Reproduccion</h3>
                    <p class="description">De acuerdo a la evolucion de los mejores ejemplares defenimos nuevas
                        procereaciones</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info-icon">
                    <div class="icon text-danger">
                        <i class="fas fa-dna"></i>
                    </div>
                    <h3>Genetica</h3>
                    <p class="description">Estudiamos los parametros que mejoran la genetica de los toros reproductores
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>