==
<div class="section section-our-clients-freebie">
    <div class="container">
        <div class="title-area">
            <h5 class="subtitle text-gray">Estos son nuestros casos</h5>
            <h2>Como nos ven nuestros Clientes</h2>
            <div class="separator separator-danger">∎</div>
        </div>

        <ul class="nav nav-text" role="tablist">
            <li class="active">
                <a href="#testimonial1" role="tab" data-toggle="tab">
                    <div class="image-clients">
                        <img alt="..." class="img-circle" src="{{'assets/img/faces/face_5.jpg'|theme}}" />
                    </div>
                </a>
            </li>
            <li>
                <a href="#testimonial2" role="tab" data-toggle="tab">
                    <div class="image-clients">
                        <img alt="..." class="img-circle" src="{{'assets/img/faces/face_6.jpg'|theme}}" />
                    </div>
                </a>
            </li>
            <li>
                <a href="#testimonial3" role="tab" data-toggle="tab">
                    <div class="image-clients">
                        <img alt="..." class="img-circle" src="{{'assets/img/faces/face_2.jpg'|theme}}" />
                    </div>
                </a>
            </li>
        </ul>


        <div class="tab-content">
            <div class="tab-pane active" id="testimonial1">
                <p class="description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit optio libero beatae
                    officiis est
                    suscipit culpa veniam dolorem ex? Maxime temporibus iure illo voluptas nemo maiores.
                    Molestiae
                    repudiandae explicabo quia? </p>
            </div>
            <div class="tab-pane" id="testimonial2">
                <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque,
                    tempore. Quae
                    quisquam minima molestiae optio dolor saepe veniam dolore quos laboriosam corrupti,
                    omnis voluptas
                    voluptatibus molestias, placeat ut. Culpa, doloremque.
                </p>
            </div>
            <div class="tab-pane" id="testimonial3">
                <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Perferendis debitis
                    vitae incidunt similique labore consequatur, nemo, autem rerum voluptate odio
                    ducimus. Accusamus a
                    veniam nam earum suscipit voluptas possimus nobis?
                </p>
            </div>

        </div>

    </div>
</div>