==
<div class="section section-our-team-freebie">
    <div class="parallax filter filter-color-black">
        <div class="image" style="background-image:url({{'assets/img/header3.jpg'|theme}})">
        </div>
        <div class="container">
            <div class="content">
                <div class="row">
                    <div class="title-area">
                        <h2>Destacados</h2>
                        <div class="separator separator-danger">✻</div>
                        <p class="description">Estos son nuestros ejemplares que reunen las características más
                            destacadas de la raza</p>
                    </div>
                </div>

                {% component 'filterdestacado' %}

            </div>
        </div>
    </div>
</div>