<div class="section section-small section-get-started">
    <div class="parallax filter">
        <div class="image" style="background-image: url({{'assets/img/office-2.jpeg'|theme}})">
        </div>
        <div class="container">
            <div class="title-area">
                <h2 class="text-white">Nuestas premiaciones en los concursos</h2>
                <div class="separator line-separator">♦</div>
                <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Sapiente fugit aliquam
                    inventore reprehenderit natus cumque quibusdam autem, deleniti cupiditate iusto
                    alias doloremque
                    aperiam amet maiores! Quae culpa odio pariatur repudiandae.</p>
            </div>

            <div class="button-get-started">
                <a href="/contacto" class="btn btn-danger btn-fill">Contacto</a>
            </div>
        </div>
    </div>
</div>